name: CI/CD

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: mlugg/setup-zig@v2
        with:
          version: 0.15.2
      - run: zig build test

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: mlugg/setup-zig@v2
        with:
          version: 0.15.2
      - run: zig build

  build-release:
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/v')
    outputs:
      version: ${{ steps.get_version.outputs.version }}
    steps:
      - uses: actions/checkout@v5
      - uses: mlugg/setup-zig@v2
        with:
          version: 0.15.2

      - name: Get version from tag
        id: get_version
        run: echo "version=${GITHUB_REF#refs/tags/v}" >> $GITHUB_OUTPUT

      - run: zig build -Dtarget=x86_64-linux-musl -Doptimize=ReleaseSafe
      - run: mv zig-out/bin/spacedisplay zig-out/bin/spacedisplay_linux_amd64

      - name: Upload release binaries
        uses: actions/upload-artifact@v5
        with:
          name: release-binaries
          path: zig-out/bin
          retention-days: 1

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: mlugg/setup-zig@v2
        with:
          version: 0.15.2
      - run: zig fmt --check .

  create-release:
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/v')
    needs: [ test, lint, build-release ]
    permissions:
      contents: write
    steps:
      - name: Download release binaries
        uses: actions/download-artifact@v6
        with:
          name: release-binaries
          path: artifacts

      - name: Display structure of downloaded files
        working-directory: artifacts
        run: ls -R

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          name: spacedisplay v${{ needs.build-release.outputs.version }}
          tag_name: ${{ github.ref_name }}
          body: |
            Auto-generated release for version ${{ needs.build-release.outputs.version }}
            
            Changes:
            - TODO: Add release notes here
          draft: false
          prerelease: true
          files: |
            artifacts/spacedisplay_linux_amd64
